name: Docker Compose CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create dummy config.json
        run: echo '{}' > config.json

      - name: Build the Docker Compose
        run: docker compose build
